*{
    margin:0;
    padding:0
}
* .el-dropdown-menu__item{
    position: relative;
    padding: 0px 0px !important;
    margin-left: -1rem;
}
@font-face {font-family: '一生一世-上首简一体';src: url('./assets/fonts/chinese/一生一世-上首简一体.ttf');}
@font-face {font-family: '一诺千金-上首简圆体';src: url('./assets/fonts/chinese/一诺千金-上首简圆体.ttf');}
@font-face {font-family: '万丈光芒-中国字魂';src: url('./assets/fonts/chinese/万丈光芒-中国字魂.ttf');}
@font-face {font-family: '万剑归宗-上首至尊书法体';src: url('./assets/fonts/chinese/万剑归宗-上首至尊书法体.ttf');}
@font-face {font-family: '上海书店-方正经黑简体';src: url('./assets/fonts/chinese/上海书店-方正经黑简体.TTF');}
@font-face {font-family: '与众不同-造字工房锦华';src: url('./assets/fonts/chinese/与众不同-造字工房锦华.ttf');}
@font-face {font-family: '世界尽头-全新硬笔行书简';src: url('./assets/fonts/chinese/世界尽头-全新硬笔行书简.ttf');}
@font-face {font-family: '中国华夏-上首吉言体';src: url('./assets/fonts/chinese/中国华夏-上首吉言体.ttf');}
@font-face {font-family: '中国心-状元榜书';src: url('./assets/fonts/chinese/中国心-状元榜书.ttf');}
@font-face {font-family: '中山行书-中山行书字体';src: url('./assets/fonts/chinese/中山行书-中山行书字体.ttf');}
@font-face {font-family: '九州四海-九州真书';src: url('./assets/fonts/chinese/九州四海-九州真书.ttf');}
@font-face {font-family: '书写情书-上首豆干体';src: url('./assets/fonts/chinese/书写情书-上首豆干体.ttf');}
@font-face {font-family: '云顶天宫-逍遥行书';src: url('./assets/fonts/chinese/云顶天宫-逍遥行书.ttf');}
@font-face {font-family: '五月-造字工房可可常规体';src: url('./assets/fonts/chinese/五月-造字工房可可常规体.ttf');}
@font-face {font-family: '五谷丰登-造字工房悦圆常规体';src: url('./assets/fonts/chinese/五谷丰登-造字工房悦圆常规体.ttf');}
@font-face {font-family: '光芒万丈-上首逸飞体';src: url('./assets/fonts/chinese/光芒万丈-上首逸飞体.ttf');}
@font-face {font-family: '光芒万丈-造字工房念真常规体';src: url('./assets/fonts/chinese/光芒万丈-造字工房念真常规体.ttf');}
@font-face {font-family: '兰亭体-书体坊兰亭体';src: url('./assets/fonts/chinese/兰亭体-书体坊兰亭体.ttf');}
@font-face {font-family: '冰淇淋-奶油雪糕体';src: url('./assets/fonts/chinese/冰淇淋-奶油雪糕体.ttf');}
@font-face {font-family: '冰雪-石头体';src: url('./assets/fonts/chinese/冰雪-石头体.ttf');}
@font-face {font-family: '冰雪奇缘-方正显仁简体';src: url('./assets/fonts/chinese/冰雪奇缘-方正显仁简体.TTF');}
@font-face {font-family: '创世纪-上首乐高体';src: url('./assets/fonts/chinese/创世纪-上首乐高体.ttf');}
@font-face {font-family: '刻舟求剑-上首漠云体';src: url('./assets/fonts/chinese/刻舟求剑-上首漠云体.ttf');}
@font-face {font-family: '功夫熊猫-上首方糖体';src: url('./assets/fonts/chinese/功夫熊猫-上首方糖体.ttf');}
@font-face {font-family: '北海道-上首秀圆体';src: url('./assets/fonts/chinese/北海道-上首秀圆体.ttf');}
@font-face {font-family: '千山万水-造字工房素白常规体';src: url('./assets/fonts/chinese/千山万水-造字工房素白常规体.ttf');}
@font-face {font-family: '单线字-上首婷雅体';src: url('./assets/fonts/chinese/单线字-上首婷雅体.ttf');}
@font-face {font-family: '南京城-方正字迹-德年行书简体';src: url('./assets/fonts/chinese/南京城-方正字迹-德年行书简体.TTF');}
@font-face {font-family: '即刻启程-造字工房毅黑体';src: url('./assets/fonts/chinese/即刻启程-造字工房毅黑体.otf');}
@font-face {font-family: '即将-歌以晓手迹行楷体';src: url('./assets/fonts/chinese/即将-歌以晓手迹行楷体.ttf');}
@font-face {font-family: '发大财-小恐龙影体';src: url('./assets/fonts/chinese/发大财-小恐龙影体.ttf');}
@font-face {font-family: '命运狂想曲-迷你简陈频破';src: url('./assets/fonts/chinese/命运狂想曲-迷你简陈频破.ttf');}
@font-face {font-family: '咱们结婚吧-叶根友特楷简体';src: url('./assets/fonts/chinese/咱们结婚吧-叶根友特楷简体.ttf');}
@font-face {font-family: '唯我独尊-上首战戟体';src: url('./assets/fonts/chinese/唯我独尊-上首战戟体.ttf');}
@font-face {font-family: '国泰民安-上首星岩体';src: url('./assets/fonts/chinese/国泰民安-上首星岩体.ttf');}
@font-face {font-family: '国潮风-上首国潮体';src: url('./assets/fonts/chinese/国潮风-上首国潮体.ttf');}
@font-face {font-family: '夏日海岸-迷你简清韵';src: url('./assets/fonts/chinese/夏日海岸-迷你简清韵.ttf');}
@font-face {font-family: '大唐盛世-禹卫书法行书简体';src: url('./assets/fonts/chinese/大唐盛世-禹卫书法行书简体.ttf');}
@font-face {font-family: '天使之城-造字工房尚雅体常规体';src: url('./assets/fonts/chinese/天使之城-造字工房尚雅体常规体.otf');}
@font-face {font-family: '天崩地裂-上首罗马体';src: url('./assets/fonts/chinese/天崩地裂-上首罗马体.ttf');}
@font-face {font-family: '天空之城-上首黑岩体';src: url('./assets/fonts/chinese/天空之城-上首黑岩体.ttf');}
@font-face {font-family: '孙悟空-懒洋洋';src: url('./assets/fonts/chinese/孙悟空-懒洋洋.ttf');}
@font-face {font-family: '完美人生-上首壹方体';src: url('./assets/fonts/chinese/完美人生-上首壹方体.ttf');}
@font-face {font-family: '宝贝计划-上首布丁体';src: url('./assets/fonts/chinese/宝贝计划-上首布丁体.ttf');}
@font-face {font-family: '宽言体-上首宽言体';src: url('./assets/fonts/chinese/宽言体-上首宽言体.ttf');}
@font-face {font-family: '小心心-造字工房喜月常规体';src: url('./assets/fonts/chinese/小心心-造字工房喜月常规体.ttf');}
@font-face {font-family: '小机灵-字魂妙笔阳文手书';src: url('./assets/fonts/chinese/小机灵-字魂妙笔阳文手书.ttf');}
@font-face {font-family: '尔雅东方体';src: url('./assets/fonts/chinese/尔雅东方体.ttf');}
@font-face {font-family: '尔雅嘿嘿嘿';src: url('./assets/fonts/chinese/尔雅嘿嘿嘿.ttf');}
@font-face {font-family: '尔雅天问体';src: url('./assets/fonts/chinese/尔雅天问体.ttf');}
@font-face {font-family: '尔雅奋斗体';src: url('./assets/fonts/chinese/尔雅奋斗体.ttf');}
@font-face {font-family: '尔雅恒星体';src: url('./assets/fonts/chinese/尔雅恒星体.ttf');}
@font-face {font-family: '尔雅擎天柱';src: url('./assets/fonts/chinese/尔雅擎天柱.ttf');}
@font-face {font-family: '尔雅星耀黑';src: url('./assets/fonts/chinese/尔雅星耀黑.ttf');}
@font-face {font-family: '尔雅木偶体';src: url('./assets/fonts/chinese/尔雅木偶体.ttf');}
@font-face {font-family: '尔雅正黑';src: url('./assets/fonts/chinese/尔雅正黑.ttf');}
@font-face {font-family: '尔雅活力黑';src: url('./assets/fonts/chinese/尔雅活力黑.ttf');}
@font-face {font-family: '尔雅科技黑';src: url('./assets/fonts/chinese/尔雅科技黑.ttf');}
@font-face {font-family: '尔雅蛟龙号';src: url('./assets/fonts/chinese/尔雅蛟龙号.ttf');}
@font-face {font-family: '尔雅镇远舰';src: url('./assets/fonts/chinese/尔雅镇远舰.ttf');}
@font-face {font-family: '尔雅鲁班体';src: url('./assets/fonts/chinese/尔雅鲁班体.ttf');}
@font-face {font-family: '山川体-上首山川体';src: url('./assets/fonts/chinese/山川体-上首山川体.ttf');}
@font-face {font-family: '山河-镇魂手书';src: url('./assets/fonts/chinese/山河-镇魂手书.ttf');}
@font-face {font-family: '平凡之路-飘然文艺体';src: url('./assets/fonts/chinese/平凡之路-飘然文艺体.ttf');}
@font-face {font-family: '建国大业-腾祥铁山楷书简';src: url('./assets/fonts/chinese/建国大业-腾祥铁山楷书简.ttf');}
@font-face {font-family: '影歌-上首苍穹书法体';src: url('./assets/fonts/chinese/影歌-上首苍穹书法体.ttf');}
@font-face {font-family: '彼岸花-绫纱黑';src: url('./assets/fonts/chinese/彼岸花-绫纱黑.ttf');}
@font-face {font-family: '御宋体-上首御宋体';src: url('./assets/fonts/chinese/御宋体-上首御宋体.ttf');}
@font-face {font-family: '御锦书-御守锦书';src: url('./assets/fonts/chinese/御锦书-御守锦书.ttf');}
@font-face {font-family: '忠义-简雅虚影体';src: url('./assets/fonts/chinese/忠义-简雅虚影体.ttf');}
@font-face {font-family: '快乐开心-快乐空观体';src: url('./assets/fonts/chinese/快乐开心-快乐空观体.ttf');}
@font-face {font-family: '悠然体-上首悠然体';src: url('./assets/fonts/chinese/悠然体-上首悠然体.ttf');}
@font-face {font-family: '悬崖-云腾手书';src: url('./assets/fonts/chinese/悬崖-云腾手书.ttf');}
@font-face {font-family: '我的御用面膜-叶根友毛笔行书简体';src: url('./assets/fonts/chinese/我的御用面膜-叶根友毛笔行书简体.ttf');}
@font-face {font-family: '战在即-字魂醒狮体';src: url('./assets/fonts/chinese/战在即-字魂醒狮体.ttf');}
@font-face {font-family: '手写字-毓秀小楷体';src: url('./assets/fonts/chinese/手写字-毓秀小楷体.ttf');}
@font-face {font-family: '投影体-创粗面影体';src: url('./assets/fonts/chinese/投影体-创粗面影体.ttf');}
@font-face {font-family: '摩登时代-方正形黑粗黑';src: url('./assets/fonts/chinese/摩登时代-方正形黑粗黑.otf');}
@font-face {font-family: '文艺清新-泡泡体';src: url('./assets/fonts/chinese/文艺清新-泡泡体.ttf');}
@font-face {font-family: '新年快乐-云霄体';src: url('./assets/fonts/chinese/新年快乐-云霄体.ttf');}
@font-face {font-family: '新春快乐-苏新诗毛糙体简';src: url('./assets/fonts/chinese/新春快乐-苏新诗毛糙体简.ttf');}
@font-face {font-family: '旋转木马-上首少年体';src: url('./assets/fonts/chinese/旋转木马-上首少年体.ttf');}
@font-face {font-family: '旋转木马-珍珠奶茶体';src: url('./assets/fonts/chinese/旋转木马-珍珠奶茶体.ttf');}
@font-face {font-family: '日行千里-上首京东体';src: url('./assets/fonts/chinese/日行千里-上首京东体.ttf');}
@font-face {font-family: '时空裂缝-上首星际体';src: url('./assets/fonts/chinese/时空裂缝-上首星际体.ttf');}
@font-face {font-family: '星斗体-上首星斗体';src: url('./assets/fonts/chinese/星斗体-上首星斗体.ttf');}
@font-face {font-family: '晚安台北-造字工房情书体';src: url('./assets/fonts/chinese/晚安台北-造字工房情书体.otf');}
@font-face {font-family: '智取威虎山-叶根友仿';src: url('./assets/fonts/chinese/智取威虎山-叶根友仿.ttf');}
@font-face {font-family: '本草纲目-上首本草纲目体';src: url('./assets/fonts/chinese/本草纲目-上首本草纲目体.ttf');}
@font-face {font-family: '果冻布丁-布丁体';src: url('./assets/fonts/chinese/果冻布丁-布丁体.ttf');}
@font-face {font-family: '柠檬茶-迷你简柏青';src: url('./assets/fonts/chinese/柠檬茶-迷你简柏青.ttf');}
@font-face {font-family: '梦梁蝶祝-经典繁毛楷';src: url('./assets/fonts/chinese/梦梁蝶祝-经典繁毛楷.TTF');}
@font-face {font-family: '梵蒂冈-叶根友微影体';src: url('./assets/fonts/chinese/梵蒂冈-叶根友微影体.ttf');}
@font-face {font-family: '楷书体-字酷堂清楷体';src: url('./assets/fonts/chinese/楷书体-字酷堂清楷体.ttf');}
@font-face {font-family: '楼上雅座-HAKUYOliuti';src: url('./assets/fonts/chinese/楼上雅座-HAKUYOliuti.TTF');}
@font-face {font-family: '横扫千军-上首鸿志手写体';src: url('./assets/fonts/chinese/横扫千军-上首鸿志手写体.ttf');}
@font-face {font-family: '樱花谷-上首力方体';src: url('./assets/fonts/chinese/樱花谷-上首力方体.ttf');}
@font-face {font-family: '檀宋-檀宋';src: url('./assets/fonts/chinese/檀宋-檀宋.ttf');}
@font-face {font-family: '欢天喜地-上首方义手刷体';src: url('./assets/fonts/chinese/欢天喜地-上首方义手刷体.ttf');}
@font-face {font-family: '正式体-创中影音体';src: url('./assets/fonts/chinese/正式体-创中影音体.ttf');}
@font-face {font-family: '正雅体-上首正雅体';src: url('./assets/fonts/chinese/正雅体-上首正雅体.ttf');}
@font-face {font-family: '武功盖世-演示镇魂行楷';src: url('./assets/fonts/chinese/武功盖世-演示镇魂行楷.ttf');}
@font-face {font-family: '毛笔行书-勾玉行书';src: url('./assets/fonts/chinese/毛笔行书-勾玉行书.ttf');}
@font-face {font-family: '水木清华-上首追光手写体';src: url('./assets/fonts/chinese/水木清华-上首追光手写体.ttf');}
@font-face {font-family: '江湖-武林江湖体';src: url('./assets/fonts/chinese/江湖-武林江湖体.ttf');}
@font-face {font-family: '浑然天成-晨光大字';src: url('./assets/fonts/chinese/浑然天成-晨光大字.ttf');}
@font-face {font-family: '海德公园-梦想手札体';src: url('./assets/fonts/chinese/海德公园-梦想手札体.ttf');}
@font-face {font-family: '海洋天堂-经典细圆繁';src: url('./assets/fonts/chinese/海洋天堂-经典细圆繁.TTF');}
@font-face {font-family: '海纳百川-上首华凤书法体';src: url('./assets/fonts/chinese/海纳百川-上首华凤书法体.ttf');}
@font-face {font-family: '清华大学-方正细圆简体';src: url('./assets/fonts/chinese/清华大学-方正细圆简体.TTF');}
@font-face {font-family: '澳门风云-江南手书';src: url('./assets/fonts/chinese/澳门风云-江南手书.ttf');}
@font-face {font-family: '烈宋体-上首烈宋体';src: url('./assets/fonts/chinese/烈宋体-上首烈宋体.ttf');}
@font-face {font-family: '热血传奇-浮生未歇';src: url('./assets/fonts/chinese/热血传奇-浮生未歇.ttf');}
@font-face {font-family: '燕尾体-上首燕尾体';src: url('./assets/fonts/chinese/燕尾体-上首燕尾体.ttf');}
@font-face {font-family: '爱丽丝-上首芊芊体';src: url('./assets/fonts/chinese/爱丽丝-上首芊芊体.ttf');}
@font-face {font-family: '爱的海洋-上首疾风书法体';src: url('./assets/fonts/chinese/爱的海洋-上首疾风书法体.ttf');}
@font-face {font-family: '独木成林-上首夏木体';src: url('./assets/fonts/chinese/独木成林-上首夏木体.ttf');}
@font-face {font-family: '狼烟四起-心动体';src: url('./assets/fonts/chinese/狼烟四起-心动体.ttf');}
@font-face {font-family: '猫和老鼠-上首黑风体';src: url('./assets/fonts/chinese/猫和老鼠-上首黑风体.ttf');}
@font-face {font-family: '玄黑体-上首玄黑体';src: url('./assets/fonts/chinese/玄黑体-上首玄黑体.ttf');}
@font-face {font-family: '玫瑰花瓣-经典行书简';src: url('./assets/fonts/chinese/玫瑰花瓣-经典行书简.TTF');}
@font-face {font-family: '甜蜜蜜-甜蜜软糖体';src: url('./assets/fonts/chinese/甜蜜蜜-甜蜜软糖体.ttf');}
@font-face {font-family: '生如夏花-萌萌哒体';src: url('./assets/fonts/chinese/生如夏花-萌萌哒体.ttf');}
@font-face {font-family: '田字格-手刻宋格字';src: url('./assets/fonts/chinese/田字格-手刻宋格字.ttf');}
@font-face {font-family: '电影院-叶根友毛笔行书';src: url('./assets/fonts/chinese/电影院-叶根友毛笔行书.ttf');}
@font-face {font-family: '百转千回-方正喵鸣体';src: url('./assets/fonts/chinese/百转千回-方正喵鸣体.ttf');}
@font-face {font-family: '碑楷体-上首碑楷体';src: url('./assets/fonts/chinese/碑楷体-上首碑楷体.ttf');}
@font-face {font-family: '神雕侠侣-乾坤手书';src: url('./assets/fonts/chinese/神雕侠侣-乾坤手书.ttf');}
@font-face {font-family: '秀竹手书-秀竹手书';src: url('./assets/fonts/chinese/秀竹手书-秀竹手书.ttf');}
@font-face {font-family: '积木体-上首积木体';src: url('./assets/fonts/chinese/积木体-上首积木体.ttf');}
@font-face {font-family: '空城旧梦-方趣体';src: url('./assets/fonts/chinese/空城旧梦-方趣体.ttf');}
@font-face {font-family: '精诚所至-德彪钢笔行书字库';src: url('./assets/fonts/chinese/精诚所至-德彪钢笔行书字库.ttf');}
@font-face {font-family: '纵横四海-上首酷方体';src: url('./assets/fonts/chinese/纵横四海-上首酷方体.ttf');}
@font-face {font-family: '美丽俏佳人-迷你简瘦金书';src: url('./assets/fonts/chinese/美丽俏佳人-迷你简瘦金书.ttf');}
@font-face {font-family: '美丽心情-上首萌动体';src: url('./assets/fonts/chinese/美丽心情-上首萌动体.ttf');}
@font-face {font-family: '至尊书法-龙门手书';src: url('./assets/fonts/chinese/至尊书法-龙门手书.ttf');}
@font-face {font-family: '舍我其谁-腾祥相思繁体';src: url('./assets/fonts/chinese/舍我其谁-腾祥相思繁体.ttf');}
@font-face {font-family: '花满楼-粗细体';src: url('./assets/fonts/chinese/花满楼-粗细体.ttf');}
@font-face {font-family: '花火流光-卡通体';src: url('./assets/fonts/chinese/花火流光-卡通体.ttf');}
@font-face {font-family: '茉莉玫瑰-上首玉立体';src: url('./assets/fonts/chinese/茉莉玫瑰-上首玉立体.ttf');}
@font-face {font-family: '萌兔趣味-萌兔趣味体';src: url('./assets/fonts/chinese/萌兔趣味-萌兔趣味体.ttf');}
@font-face {font-family: '萌萌哒-萌趣果冻体';src: url('./assets/fonts/chinese/萌萌哒-萌趣果冻体.ttf');}
@font-face {font-family: '薰衣草-古韵简体';src: url('./assets/fonts/chinese/薰衣草-古韵简体.ttf');}
@font-face {font-family: '蜡笔小新-上首太空体';src: url('./assets/fonts/chinese/蜡笔小新-上首太空体.ttf');}
@font-face {font-family: '蝴蝶-书体坊赵九江钢笔行书';src: url('./assets/fonts/chinese/蝴蝶-书体坊赵九江钢笔行书.ttf');}
@font-face {font-family: '谁与争锋-上首锐博体';src: url('./assets/fonts/chinese/谁与争锋-上首锐博体.ttf');}
@font-face {font-family: '财大气粗-上首软糖体';src: url('./assets/fonts/chinese/财大气粗-上首软糖体.ttf');}
@font-face {font-family: '轩正体-上首轩正体';src: url('./assets/fonts/chinese/轩正体-上首轩正体.ttf');}
@font-face {font-family: '逃学威龙-腾祥范笑歌简牍繁';src: url('./assets/fonts/chinese/逃学威龙-腾祥范笑歌简牍繁.ttf');}
@font-face {font-family: '遇见台南-段宁毛笔行书';src: url('./assets/fonts/chinese/遇见台南-段宁毛笔行书.ttf');}
@font-face {font-family: '金刚体-上首金刚体';src: url('./assets/fonts/chinese/金刚体-上首金刚体.ttf');}
@font-face {font-family: '锋芒体-上首锋芒体';src: url('./assets/fonts/chinese/锋芒体-上首锋芒体.ttf');}
@font-face {font-family: '雄才大略-方正榜书行简体';src: url('./assets/fonts/chinese/雄才大略-方正榜书行简体.TTF');}
@font-face {font-family: '雄霸-英雄黑体';src: url('./assets/fonts/chinese/雄霸-英雄黑体.ttf');}
@font-face {font-family: '非型不可-造字工房力黑体_0';src: url('./assets/fonts/chinese/非型不可-造字工房力黑体_0.otf');}
@font-face {font-family: '革命之路-胡敬礼毛笔粗行简';src: url('./assets/fonts/chinese/革命之路-胡敬礼毛笔粗行简.ttf');}
@font-face {font-family: '韶华体-上首韶华体';src: url('./assets/fonts/chinese/韶华体-上首韶华体.ttf');}
@font-face {font-family: '风云变幻-行云飞白体';src: url('./assets/fonts/chinese/风云变幻-行云飞白体.ttf');}
@font-face {font-family: '风华正茂-书体坊安景臣钢笔行书';src: url('./assets/fonts/chinese/风华正茂-书体坊安景臣钢笔行书.ttf');}
@font-face {font-family: '风华正茂-无外漂浮体';src: url('./assets/fonts/chinese/风华正茂-无外漂浮体.ttf');}
@font-face {font-family: '风靡一时-造字工房景悦常规体';src: url('./assets/fonts/chinese/风靡一时-造字工房景悦常规体.ttf');}
@font-face {font-family: '飞驰-飞驰影响体';src: url('./assets/fonts/chinese/飞驰-飞驰影响体.ttf');}
@font-face {font-family: '马到功成-白鸽天行体';src: url('./assets/fonts/chinese/马到功成-白鸽天行体.ttf');}
@font-face {font-family: '黄金时代-随风手刻体';src: url('./assets/fonts/chinese/黄金时代-随风手刻体.ttf');}
@font-face {font-family: '309-CAI978';src: url('./assets/fonts/normal/309-CAI978.ttf');}
@font-face {font-family: '312-CAI978';src: url('./assets/fonts/normal/312-CAI978.ttf');}
@font-face {font-family: '313-CAI978';src: url('./assets/fonts/normal/313-CAI978.ttf');}
@font-face {font-family: '324-CAI978';src: url('./assets/fonts/normal/324-CAI978.ttf');}
@font-face {font-family: '456-cai978';src: url('./assets/fonts/normal/456-cai978.ttf');}
@font-face {font-family: '584-CAI978';src: url('./assets/fonts/normal/584-CAI978.ttf');}
@font-face {font-family: '585-CAI978';src: url('./assets/fonts/normal/585-CAI978.ttf');}
@font-face {font-family: '588-CAI978';src: url('./assets/fonts/normal/588-CAI978.ttf');}
@font-face {font-family: '589-CAI978';src: url('./assets/fonts/normal/589-CAI978.ttf');}
@font-face {font-family: '590-cai978';src: url('./assets/fonts/normal/590-cai978.ttf');}
@font-face {font-family: '595-CAI978';src: url('./assets/fonts/normal/595-CAI978.ttf');}
@font-face {font-family: '596-CAI978';src: url('./assets/fonts/normal/596-CAI978.ttf');}
@font-face {font-family: '599-CAI978';src: url('./assets/fonts/normal/599-CAI978.ttf');}
@font-face {font-family: '602-CAI978';src: url('./assets/fonts/normal/602-CAI978.ttf');}
@font-face {font-family: '604-CAI978';src: url('./assets/fonts/normal/604-CAI978.ttf');}
@font-face {font-family: '607-CAI978';src: url('./assets/fonts/normal/607-CAI978.ttf');}
@font-face {font-family: '609-CAI978';src: url('./assets/fonts/normal/609-CAI978.ttf');}
@font-face {font-family: '610-CAI978';src: url('./assets/fonts/normal/610-CAI978.ttf');}
@font-face {font-family: '611-CAI978';src: url('./assets/fonts/normal/611-CAI978.ttf');}
@font-face {font-family: '612-CAI978';src: url('./assets/fonts/normal/612-CAI978.ttf');}
@font-face {font-family: '613-CAI978';src: url('./assets/fonts/normal/613-CAI978.ttf');}
@font-face {font-family: '616-CAI978';src: url('./assets/fonts/normal/616-CAI978.ttf');}
@font-face {font-family: '618-CAI978';src: url('./assets/fonts/normal/618-CAI978.ttf');}
@font-face {font-family: '619-CAI978';src: url('./assets/fonts/normal/619-CAI978.ttf');}
@font-face {font-family: '620-CAI978';src: url('./assets/fonts/normal/620-CAI978.ttf');}
@font-face {font-family: '621-CAI978';src: url('./assets/fonts/normal/621-CAI978.ttf');}
@font-face {font-family: '622-CAI978';src: url('./assets/fonts/normal/622-CAI978.ttf');}
@font-face {font-family: '623-CAI978';src: url('./assets/fonts/normal/623-CAI978.ttf');}
@font-face {font-family: '625-CAI978';src: url('./assets/fonts/normal/625-CAI978.ttf');}
@font-face {font-family: '626-CAI978';src: url('./assets/fonts/normal/626-CAI978.ttf');}
@font-face {font-family: '627-CAI978';src: url('./assets/fonts/normal/627-CAI978.ttf');}
@font-face {font-family: '628-CAI978';src: url('./assets/fonts/normal/628-CAI978.ttf');}
@font-face {font-family: '629-CAI978';src: url('./assets/fonts/normal/629-CAI978.ttf');}
@font-face {font-family: '630-CAI978';src: url('./assets/fonts/normal/630-CAI978.ttf');}
@font-face {font-family: '631-CAI978';src: url('./assets/fonts/normal/631-CAI978.ttf');}
@font-face {font-family: '632-CAI978';src: url('./assets/fonts/normal/632-CAI978.ttf');}
@font-face {font-family: '633-CAI978';src: url('./assets/fonts/normal/633-CAI978.ttf');}
@font-face {font-family: '634-CAI978';src: url('./assets/fonts/normal/634-CAI978.ttf');}
@font-face {font-family: '635-CAI978';src: url('./assets/fonts/normal/635-CAI978.ttf');}
@font-face {font-family: '636-CAI978';src: url('./assets/fonts/normal/636-CAI978.ttf');}
@font-face {font-family: '637-CAI978';src: url('./assets/fonts/normal/637-CAI978.ttf');}
@font-face {font-family: '638-CAI978';src: url('./assets/fonts/normal/638-CAI978.ttf');}
@font-face {font-family: '639-CAI978';src: url('./assets/fonts/normal/639-CAI978.ttf');}
@font-face {font-family: '640-CAI978';src: url('./assets/fonts/normal/640-CAI978.ttf');}
@font-face {font-family: '641-CAI978';src: url('./assets/fonts/normal/641-CAI978.ttf');}
@font-face {font-family: '642-CAI978';src: url('./assets/fonts/normal/642-CAI978.ttf');}
@font-face {font-family: '643-CAI978';src: url('./assets/fonts/normal/643-CAI978.ttf');}
@font-face {font-family: '644-CAI978';src: url('./assets/fonts/normal/644-CAI978.ttf');}
@font-face {font-family: '645-CAI978';src: url('./assets/fonts/normal/645-CAI978.ttf');}
@font-face {font-family: '646-CAI978';src: url('./assets/fonts/normal/646-CAI978.ttf');}
@font-face {font-family: '647-CAI978';src: url('./assets/fonts/normal/647-CAI978.ttf');}
@font-face {font-family: '648-CAI978';src: url('./assets/fonts/normal/648-CAI978.ttf');}
@font-face {font-family: '649-CAI978';src: url('./assets/fonts/normal/649-CAI978.ttf');}
@font-face {font-family: '650-CAI978';src: url('./assets/fonts/normal/650-CAI978.ttf');}
@font-face {font-family: '651-CAI978';src: url('./assets/fonts/normal/651-CAI978.ttf');}
@font-face {font-family: '652-CAI978';src: url('./assets/fonts/normal/652-CAI978.ttf');}
@font-face {font-family: '653-CAI978';src: url('./assets/fonts/normal/653-CAI978.ttf');}
@font-face {font-family: '654-CAI978';src: url('./assets/fonts/normal/654-CAI978.ttf');}
@font-face {font-family: '655-CAI978';src: url('./assets/fonts/normal/655-CAI978.ttf');}
@font-face {font-family: '657-CAI978';src: url('./assets/fonts/normal/657-CAI978.ttf');}
@font-face {font-family: '661-CAI978';src: url('./assets/fonts/normal/661-CAI978.ttf');}
@font-face {font-family: '663-CAI978';src: url('./assets/fonts/normal/663-CAI978.ttf');}
@font-face {font-family: '705-CAI978';src: url('./assets/fonts/normal/705-CAI978.ttf');}
@font-face {font-family: '708-CAI978';src: url('./assets/fonts/normal/708-CAI978.ttf');}
@font-face {font-family: '711-CAI978';src: url('./assets/fonts/normal/711-CAI978.ttf');}
@font-face {font-family: '727-CAI978';src: url('./assets/fonts/normal/727-CAI978.ttf');}
@font-face {font-family: '739-CAI978';src: url('./assets/fonts/normal/739-CAI978.ttf');}
@font-face {font-family: '747-CAI978';src: url('./assets/fonts/normal/747-CAI978.ttf');}
@font-face {font-family: '758-CAI978';src: url('./assets/fonts/normal/758-CAI978.ttf');}
@font-face {font-family: '781-CAI978';src: url('./assets/fonts/normal/781-CAI978.ttf');}
@font-face {font-family: '783-CAI978';src: url('./assets/fonts/normal/783-CAI978.ttf');}
@font-face {font-family: '821-CAI978';src: url('./assets/fonts/normal/821-CAI978.ttf');}
@font-face {font-family: '868-CAI978';src: url('./assets/fonts/normal/868-CAI978.ttf');}
@font-face {font-family: '869-CAI978';src: url('./assets/fonts/normal/869-CAI978.ttf');}
@font-face {font-family: '870-CAI978';src: url('./assets/fonts/normal/870-CAI978.ttf');}
@font-face {font-family: '878-CAI978';src: url('./assets/fonts/normal/878-CAI978.ttf');}
@font-face {font-family: '880-CAI978';src: url('./assets/fonts/normal/880-CAI978.ttf');}
@font-face {font-family: '881-CAI978';src: url('./assets/fonts/normal/881-CAI978.ttf');}
@font-face {font-family: '885-CAI978';src: url('./assets/fonts/normal/885-CAI978.ttf');}
@font-face {font-family: '893-CAI978';src: url('./assets/fonts/normal/893-CAI978.ttf');}
@font-face {font-family: '896-CAI978';src: url('./assets/fonts/normal/896-CAI978.ttf');}
@font-face {font-family: '897-CAI978';src: url('./assets/fonts/normal/897-CAI978.ttf');}
@font-face {font-family: '899-CAI978';src: url('./assets/fonts/normal/899-CAI978.ttf');}
@font-face {font-family: '910-CAI978';src: url('./assets/fonts/normal/910-CAI978.ttf');}
@font-face {font-family: '912-CAI978';src: url('./assets/fonts/normal/912-CAI978.ttf');}
@font-face {font-family: '921-CAI978';src: url('./assets/fonts/normal/921-CAI978.ttf');}
@font-face {font-family: '922-CAI978';src: url('./assets/fonts/normal/922-CAI978.ttf');}
@font-face {font-family: '932-CAI978';src: url('./assets/fonts/normal/932-CAI978.ttf');}
@font-face {font-family: '938-CAI978';src: url('./assets/fonts/normal/938-CAI978.ttf');}
@font-face {font-family: '940-CAI978';src: url('./assets/fonts/normal/940-CAI978.ttf');}
@font-face {font-family: '941-CAI978';src: url('./assets/fonts/normal/941-CAI978.ttf');}
@font-face {font-family: '945-CAI978';src: url('./assets/fonts/normal/945-CAI978.ttf');}
@font-face {font-family: '952-CAI978';src: url('./assets/fonts/normal/952-CAI978.ttf');}
@font-face {font-family: '957-CAI978';src: url('./assets/fonts/normal/957-CAI978.ttf');}
@font-face {font-family: '959-CAI978';src: url('./assets/fonts/normal/959-CAI978.ttf');}
@font-face {font-family: '969-CAI978';src: url('./assets/fonts/normal/969-CAI978.ttf');}
@font-face {font-family: '970-CAI978';src: url('./assets/fonts/normal/970-CAI978.ttf');}
@font-face {font-family: 'AAR';src: url('./assets/fonts/normal/AAR.ttf');}
@font-face {font-family: 'AdineKirnberg-Script';src: url('./assets/fonts/normal/AdineKirnberg-Script.TTF');}
@font-face {font-family: 'desktop';src: url('./assets/fonts/normal/desktop.ini');}
@font-face {font-family: 'Exmouth';src: url('./assets/fonts/normal/Exmouth.TTF');}
@font-face {font-family: 'Former Airline';src: url('./assets/fonts/normal/Former Airline.ttf');}
@font-face {font-family: 'Freebooter Script';src: url('./assets/fonts/normal/Freebooter Script.TTF');}
@font-face {font-family: 'Joella';src: url('./assets/fonts/normal/Joella.ttf');}
@font-face {font-family: 'Mountain-Regular';src: url('./assets/fonts/normal/Mountain-Regular.otf');}
@font-face {font-family: 'Mr Sheffield';src: url('./assets/fonts/normal/Mr Sheffield.ttf');}
@font-face {font-family: 'Niagara-Solid';src: url('./assets/fonts/normal/Niagara-Solid.otf');}
@font-face {font-family: 'Pharmount_PersonalUseOnly';src: url('./assets/fonts/normal/Pharmount_PersonalUseOnly.ttf');}
@font-face {font-family: 'Respective Swashes';src: url('./assets/fonts/normal/Respective Swashes.TTF');}
@font-face {font-family: 'Respective';src: url('./assets/fonts/normal/Respective.TTF');}
@font-face {font-family: 'Shelley Script LT Std';src: url('./assets/fonts/normal/Shelley Script LT Std.otf');}
@font-face {font-family: 'Shit Happens';src: url('./assets/fonts/normal/Shit Happens.otf');}
@font-face {font-family: 'Slant';src: url('./assets/fonts/normal/Slant.TTF');}
@font-face {font-family: 'Sloop';src: url('./assets/fonts/normal/Sloop.ttf');}
@font-face {font-family: 'Some Weatz swashes';src: url('./assets/fonts/normal/Some Weatz swashes.TTF');}
@font-face {font-family: 'TypoUpright BT';src: url('./assets/fonts/normal/TypoUpright BT.TTF');}
@font-face {font-family: 'Universal Jack';src: url('./assets/fonts/normal/Universal Jack.ttf');}
@font-face {font-family: 'uranium';src: url('./assets/fonts/normal/uranium.ttf');}
@font-face {font-family: 'Wager BRK';src: url('./assets/fonts/normal/Wager BRK.ttf');}
@font-face {font-family: 'Y2K Analog Legacy';src: url('./assets/fonts/normal/Y2K Analog Legacy.ttf');}
@font-face {font-family: '书体坊王学勤钢笔行书';src: url('./assets/fonts/normal/书体坊王学勤钢笔行书.TTF');}
@font-face {font-family: '书体坊硬笔行书';src: url('./assets/fonts/normal/书体坊硬笔行书.TTF');}
@font-face {font-family: '书体坊禚效锋行草体';src: url('./assets/fonts/normal/书体坊禚效锋行草体.TTF');}
@font-face {font-family: '书体坊郭小语钢笔楷体';src: url('./assets/fonts/normal/书体坊郭小语钢笔楷体.ttf');}
@font-face {font-family: '书体坊雪纯体';src: url('./assets/fonts/normal/书体坊雪纯体.TTF');}
@font-face {font-family: '交通标志专用字体';src: url('./assets/fonts/normal/交通标志专用字体.ttf');}
@font-face {font-family: '仿宋_GB2312';src: url('./assets/fonts/normal/仿宋_GB2312.ttf');}
@font-face {font-family: '伊人黑';src: url('./assets/fonts/normal/伊人黑.ttf');}
@font-face {font-family: '全新硬笔楷书简';src: url('./assets/fonts/normal/全新硬笔楷书简.TTF');}
@font-face {font-family: '刘兵克曦冉体超细版';src: url('./assets/fonts/normal/刘兵克曦冉体超细版.TTF');}
@font-face {font-family: '北方行书';src: url('./assets/fonts/normal/北方行书.TTF');}
@font-face {font-family: '华康POP1体W5-GB';src: url('./assets/fonts/normal/华康POP1体W5-GB.ttc');}
@font-face {font-family: '华康俪金黑W8';src: url('./assets/fonts/normal/华康俪金黑W8.TTF');}
@font-face {font-family: '华康娃娃体W5(P)';src: url('./assets/fonts/normal/华康娃娃体W5(P).TTF');}
@font-face {font-family: '华康少女体';src: url('./assets/fonts/normal/华康少女体.ttf');}
@font-face {font-family: '华康彩带体W7';src: url('./assets/fonts/normal/华康彩带体W7.ttc');}
@font-face {font-family: '华康新综艺W7';src: url('./assets/fonts/normal/华康新综艺W7.TTF');}
@font-face {font-family: '华康新综艺体W9';src: url('./assets/fonts/normal/华康新综艺体W9.ttc');}
@font-face {font-family: '华康金刚黑';src: url('./assets/fonts/normal/华康金刚黑.ttf');}
@font-face {font-family: '华康雅宋体W9';src: url('./assets/fonts/normal/华康雅宋体W9.TTF');}
@font-face {font-family: '华康饰艺体W7';src: url('./assets/fonts/normal/华康饰艺体W7.ttc');}
@font-face {font-family: '印品南征北战体';src: url('./assets/fonts/normal/印品南征北战体.ttf');}
@font-face {font-family: '印品天逸黑';src: url('./assets/fonts/normal/印品天逸黑.ttf');}
@font-face {font-family: '印品意趣体';src: url('./assets/fonts/normal/印品意趣体.ttf');}
@font-face {font-family: '印品招牌体';src: url('./assets/fonts/normal/印品招牌体.ttf');}
@font-face {font-family: '印品朗黑体';src: url('./assets/fonts/normal/印品朗黑体.ttf');}
@font-face {font-family: '印品油漆体';src: url('./assets/fonts/normal/印品油漆体.ttf');}
@font-face {font-family: '印品清版宋 细体';src: url('./assets/fonts/normal/印品清版宋 细体.ttf');}
@font-face {font-family: '印品清秀体';src: url('./assets/fonts/normal/印品清秀体.ttf');}
@font-face {font-family: '印品粗朗体';src: url('./assets/fonts/normal/印品粗朗体.ttf');}
@font-face {font-family: '印品芷兰体';src: url('./assets/fonts/normal/印品芷兰体.ttf');}
@font-face {font-family: '印品酷黑体';src: url('./assets/fonts/normal/印品酷黑体.ttf');}
@font-face {font-family: '印品铸黑体';src: url('./assets/fonts/normal/印品铸黑体.ttf');}
@font-face {font-family: '印品雅圆体';src: url('./assets/fonts/normal/印品雅圆体.ttf');}
@font-face {font-family: '印品鸿蒙体';src: url('./assets/fonts/normal/印品鸿蒙体.ttf');}
@font-face {font-family: '印章繁体方篆';src: url('./assets/fonts/normal/印章繁体方篆.ttf');}
@font-face {font-family: '双鱼集 南宋书局体';src: url('./assets/fonts/normal/双鱼集 南宋书局体.ttf');}
@font-face {font-family: '古刻宋';src: url('./assets/fonts/normal/古刻宋.ttf');}
@font-face {font-family: '哥特体简体中文';src: url('./assets/fonts/normal/哥特体简体中文.TTF');}
@font-face {font-family: '大黑连筋体-条幅黑体';src: url('./assets/fonts/normal/大黑连筋体-条幅黑体.ttf');}
@font-face {font-family: '字体管家幻夜伯爵';src: url('./assets/fonts/normal/字体管家幻夜伯爵.TTF');}
@font-face {font-family: '字酷堂黄楷体';src: url('./assets/fonts/normal/字酷堂黄楷体.ttf');}
@font-face {font-family: '字魂105号-简雅黑';src: url('./assets/fonts/normal/字魂105号-简雅黑.ttf');}
@font-face {font-family: '微软简标宋';src: url('./assets/fonts/normal/微软简标宋.ttf');}
@font-face {font-family: '微软繁综艺';src: url('./assets/fonts/normal/微软繁综艺.TTF');}
@font-face {font-family: '微软繁黑体';src: url('./assets/fonts/normal/微软繁黑体.TTF');}
@font-face {font-family: '我字酷无非字体';src: url('./assets/fonts/normal/我字酷无非字体.TTF');}
@font-face {font-family: '我字酷郭金芳硬笔行书简体';src: url('./assets/fonts/normal/我字酷郭金芳硬笔行书简体.TTF');}
@font-face {font-family: '文鼎书宋简';src: url('./assets/fonts/normal/文鼎书宋简.TTF');}
@font-face {font-family: '文鼎新艺体繁';src: url('./assets/fonts/normal/文鼎新艺体繁.ttf');}
@font-face {font-family: '文鼎水管体';src: url('./assets/fonts/normal/文鼎水管体.ttf');}
@font-face {font-family: '新立篆圆繁';src: url('./assets/fonts/normal/新立篆圆繁.ttf');}
@font-face {font-family: '新蒂下午茶基本版';src: url('./assets/fonts/normal/新蒂下午茶基本版.ttf');}
@font-face {font-family: '新蒂小丸子体';src: url('./assets/fonts/normal/新蒂小丸子体.ttf');}
@font-face {font-family: '新蒂小丸子小学版';src: url('./assets/fonts/normal/新蒂小丸子小学版.ttf');}
@font-face {font-family: '新蒂黑板报底字';src: url('./assets/fonts/normal/新蒂黑板报底字.ttf');}
@font-face {font-family: '方悦黑';src: url('./assets/fonts/normal/方悦黑.ttf');}
@font-face {font-family: '无外润黑体';src: url('./assets/fonts/normal/无外润黑体.ttf');}
@font-face {font-family: '本墨锋悦粗体';src: url('./assets/fonts/normal/本墨锋悦粗体.TTF');}
@font-face {font-family: '机械体';src: url('./assets/fonts/normal/机械体.ttf');}
@font-face {font-family: '机甲超级黑';src: url('./assets/fonts/normal/机甲超级黑.ttf');}
@font-face {font-family: '汉真广标艺术字体';src: url('./assets/fonts/normal/汉真广标艺术字体.ttf');}
@font-face {font-family: '汉鼎简中等线';src: url('./assets/fonts/normal/汉鼎简中等线.TTF');}
@font-face {font-family: '汉鼎简中黑';src: url('./assets/fonts/normal/汉鼎简中黑.TTF');}
@font-face {font-family: '汉鼎简大黑';src: url('./assets/fonts/normal/汉鼎简大黑.TTF');}
@font-face {font-family: '汉鼎简姚体';src: url('./assets/fonts/normal/汉鼎简姚体.TTF');}
@font-face {font-family: '汉鼎简宋体';src: url('./assets/fonts/normal/汉鼎简宋体.TTF');}
@font-face {font-family: '汉鼎简新艺体';src: url('./assets/fonts/normal/汉鼎简新艺体.TTF');}
@font-face {font-family: '汉鼎简特宋';src: url('./assets/fonts/normal/汉鼎简特宋.TTF');}
@font-face {font-family: '汉鼎简特粗黑';src: url('./assets/fonts/normal/汉鼎简特粗黑.TTF');}
@font-face {font-family: '汉鼎简特黑';src: url('./assets/fonts/normal/汉鼎简特黑.TTF');}
@font-face {font-family: '汉鼎简粗宋';src: url('./assets/fonts/normal/汉鼎简粗宋.TTF');}
@font-face {font-family: '汉鼎简粗黑';src: url('./assets/fonts/normal/汉鼎简粗黑.TTF');}
@font-face {font-family: '汉鼎简细圆';src: url('./assets/fonts/normal/汉鼎简细圆.TTF');}
@font-face {font-family: '汉鼎简细等线';src: url('./assets/fonts/normal/汉鼎简细等线.TTF');}
@font-face {font-family: '汉鼎简美黑';src: url('./assets/fonts/normal/汉鼎简美黑.TTF');}
@font-face {font-family: '汉鼎简舒体';src: url('./assets/fonts/normal/汉鼎简舒体.TTF');}
@font-face {font-family: '汉鼎简长宋';src: url('./assets/fonts/normal/汉鼎简长宋.TTF');}
@font-face {font-family: '汉鼎简黑变';src: url('./assets/fonts/normal/汉鼎简黑变.TTF');}
@font-face {font-family: '汉鼎繁粗黑';src: url('./assets/fonts/normal/汉鼎繁粗黑.TTF');}
@font-face {font-family: '汉鼎繁细隶';src: url('./assets/fonts/normal/汉鼎繁细隶.TTF');}
@font-face {font-family: '汉鼎繁黑变';src: url('./assets/fonts/normal/汉鼎繁黑变.TTF');}
@font-face {font-family: '江南情人中文';src: url('./assets/fonts/normal/江南情人中文.ttf');}
@font-face {font-family: '濯缨字体草书繁';src: url('./assets/fonts/normal/濯缨字体草书繁.ttf');}
@font-face {font-family: '田氏方笔刷体繁';src: url('./assets/fonts/normal/田氏方笔刷体繁.ttf');}
@font-face {font-family: '田氏维纳斯体';src: url('./assets/fonts/normal/田氏维纳斯体.ttf');}
@font-face {font-family: '田英章毛笔楷书';src: url('./assets/fonts/normal/田英章毛笔楷书.TTF');}
@font-face {font-family: '田英章硬笔楷书简体';src: url('./assets/fonts/normal/田英章硬笔楷书简体.TTF');}
@font-face {font-family: '白舟角崩朱文';src: url('./assets/fonts/normal/白舟角崩朱文.TTF');}
@font-face {font-family: '百度综艺简体';src: url('./assets/fonts/normal/百度综艺简体.ttf');}
@font-face {font-family: '站酷快乐体';src: url('./assets/fonts/normal/站酷快乐体.TTF');}
@font-face {font-family: '站酷酷黑';src: url('./assets/fonts/normal/站酷酷黑.TTF');}
@font-face {font-family: '童年画板体';src: url('./assets/fonts/normal/童年画板体.ttf');}
@font-face {font-family: '经典平黑简';src: url('./assets/fonts/normal/经典平黑简.TTF');}
@font-face {font-family: '经典特黑简';src: url('./assets/fonts/normal/经典特黑简.TTF');}
@font-face {font-family: '经典粗黑简';src: url('./assets/fonts/normal/经典粗黑简.TTF');}
@font-face {font-family: '经典繁圆新';src: url('./assets/fonts/normal/经典繁圆新.TTF');}
@font-face {font-family: '经典繁平黑';src: url('./assets/fonts/normal/经典繁平黑.TTF');}
@font-face {font-family: '经典繁方新';src: url('./assets/fonts/normal/经典繁方新.TTF');}
@font-face {font-family: '经典繁方篆';src: url('./assets/fonts/normal/经典繁方篆.TTF');}
@font-face {font-family: '经典繁超黑';src: url('./assets/fonts/normal/经典繁超黑.TTF');}
@font-face {font-family: '经典繁随意';src: url('./assets/fonts/normal/经典繁随意.TTF');}
@font-face {font-family: '经典细空艺';src: url('./assets/fonts/normal/经典细空艺.TTF');}
@font-face {font-family: '经典综艺体简';src: url('./assets/fonts/normal/经典综艺体简.TTF');}
@font-face {font-family: '经典综艺体繁';src: url('./assets/fonts/normal/经典综艺体繁.TTF');}
@font-face {font-family: '经典美黑简';src: url('./assets/fonts/normal/经典美黑简.TTF');}
@font-face {font-family: '经典超圆简';src: url('./assets/fonts/normal/经典超圆简.TTF');}
@font-face {font-family: '经典雅黑';src: url('./assets/fonts/normal/经典雅黑.ttf');}
@font-face {font-family: '联盟综艺体';src: url('./assets/fonts/normal/联盟综艺体.ttf');}
@font-face {font-family: '聚珍仿宋常规简';src: url('./assets/fonts/normal/聚珍仿宋常规简.ttf');}
@font-face {font-family: '胡晓波男人帮简体';src: url('./assets/fonts/normal/胡晓波男人帮简体.ttf');}
@font-face {font-family: '胡晓波美心常规体';src: url('./assets/fonts/normal/胡晓波美心常规体.ttf');}
@font-face {font-family: '腾祥魅黑简';src: url('./assets/fonts/normal/腾祥魅黑简.TTF');}
@font-face {font-family: '英章行书';src: url('./assets/fonts/normal/英章行书.TTF');}
@font-face {font-family: '设计师爱心体1号字';src: url('./assets/fonts/normal/设计师爱心体1号字.ttf');}
@font-face {font-family: '贤黑';src: url('./assets/fonts/normal/贤黑.ttf');}
@font-face {font-family: '超世纪粗角篆';src: url('./assets/fonts/normal/超世纪粗角篆.ttf');}
@font-face {font-family: '超刚黑体';src: url('./assets/fonts/normal/超刚黑体.ttf');}
@font-face {font-family: '迷你简凌波';src: url('./assets/fonts/normal/迷你简凌波.ttf');}
@font-face {font-family: '迷你简卡通';src: url('./assets/fonts/normal/迷你简卡通.TTF');}
@font-face {font-family: '迷你简哈哈';src: url('./assets/fonts/normal/迷你简哈哈.ttf');}
@font-face {font-family: '迷你简嘟嘟体';src: url('./assets/fonts/normal/迷你简嘟嘟体.ttf');}
@font-face {font-family: '迷你简大黑';src: url('./assets/fonts/normal/迷你简大黑.TTF');}
@font-face {font-family: '迷你简字典宋';src: url('./assets/fonts/normal/迷你简字典宋.ttf');}
@font-face {font-family: '迷你简小隶书';src: url('./assets/fonts/normal/迷你简小隶书.ttf');}
@font-face {font-family: '迷你简方叠体';src: url('./assets/fonts/normal/迷你简方叠体.TTF');}
@font-face {font-family: '迷你简橄榄';src: url('./assets/fonts/normal/迷你简橄榄.TTF');}
@font-face {font-family: '迷你简水波';src: url('./assets/fonts/normal/迷你简水波.ttf');}
@font-face {font-family: '迷你简水滴';src: url('./assets/fonts/normal/迷你简水滴.ttf');}
@font-face {font-family: '迷你简海韵';src: url('./assets/fonts/normal/迷你简海韵.ttf');}
@font-face {font-family: '迷你简火柴';src: url('./assets/fonts/normal/迷你简火柴.ttf');}
@font-face {font-family: '迷你简特细等线';src: url('./assets/fonts/normal/迷你简特细等线.ttf');}
@font-face {font-family: '迷你简琥珀';src: url('./assets/fonts/normal/迷你简琥珀.ttf');}
@font-face {font-family: '迷你简神工';src: url('./assets/fonts/normal/迷你简神工.TTF');}
@font-face {font-family: '迷你简粗倩';src: url('./assets/fonts/normal/迷你简粗倩.ttf');}
@font-face {font-family: '迷你简细珊瑚';src: url('./assets/fonts/normal/迷你简细珊瑚.ttf');}
@font-face {font-family: '迷你简美黑';src: url('./assets/fonts/normal/迷你简美黑.ttf');}
@font-face {font-family: '迷你简长艺';src: url('./assets/fonts/normal/迷你简长艺.ttf');}
@font-face {font-family: '逐浪雅宋体';src: url('./assets/fonts/normal/逐浪雅宋体.OTF');}
@font-face {font-family: '逼格锐线粗体简2.0';src: url('./assets/fonts/normal/逼格锐线粗体简2.0.TTF');}
@font-face {font-family: '郑庆科智雅体';src: url('./assets/fonts/normal/郑庆科智雅体.TTF');}
@font-face {font-family: '金桥简黑体';src: url('./assets/fonts/normal/金桥简黑体.TTF');}
@font-face {font-family: '铁兰体';src: url('./assets/fonts/normal/铁兰体.ttf');}
@font-face {font-family: '锐博体';src: url('./assets/fonts/normal/锐博体.ttf');}
@font-face {font-family: '锐字工房巅峰黑简1.0';src: url('./assets/fonts/normal/锐字工房巅峰黑简1.0.ttf');}
@font-face {font-family: '锐字工房洪荒之力黑简1.0';src: url('./assets/fonts/normal/锐字工房洪荒之力黑简1.0.otf');}
@font-face {font-family: '锐字工房锋芒黑简1.0';src: url('./assets/fonts/normal/锐字工房锋芒黑简1.0.ttf');}
@font-face {font-family: '锐字逼格锐线体简4.0';src: url('./assets/fonts/normal/锐字逼格锐线体简4.0.TTF');}
@font-face {font-family: '锐字逼格青春体简2.0';src: url('./assets/fonts/normal/锐字逼格青春体简2.0.TTF');}
@font-face {font-family: '锐字锐线俏皮简1.0';src: url('./assets/fonts/normal/锐字锐线俏皮简1.0.TTF');}
@font-face {font-family: '锐字锐线怒放黑简1.0';src: url('./assets/fonts/normal/锐字锐线怒放黑简1.0.TTF');}
@font-face {font-family: '锐字锐线极限黑简1.0';src: url('./assets/fonts/normal/锐字锐线极限黑简1.0.TTF');}
@font-face {font-family: '锐字锐线梦想黑简V1.0';src: url('./assets/fonts/normal/锐字锐线梦想黑简V1.0.TTF');}
@font-face {font-family: '长城大黑体';src: url('./assets/fonts/normal/长城大黑体.TTF');}
@font-face {font-family: '阿里巴巴普惠Alibaba';src: url('./assets/fonts/normal/阿里巴巴普惠Alibaba.ttf');}
@font-face {font-family: '章草';src: url('./assets/fonts/normal/章草.ttf');}
@font-face {font-family: '黄彦文行书字体';src: url('./assets/fonts/normal/黄彦文行书字体.TTF');}