body.dark-theme,
body.dark-theme aside {
  background-color: #1f2021 !important;
}

body.dark-theme .card,
body.dark-theme .card-header,
body.dark-theme .input-group-text,
body.dark-theme input,
body.dark-theme .icon,
body.dark-theme .active,
body.dark-theme .blur,
body.dark-theme .list-group-item {
  background-color: #121212 !important;
}
body.dark-theme .dark_color_icon
{
  color:rgb(70,114,254)
}
body.dark-theme .dark-font-color 
{
  color:rgb(103,116,142)
}
body.dark-theme .dark_link
{
  color:rgb(103,116,142)
}
body.dark-theme .dark_link:hover {
  color: rgb(14 165 233 / var(--tw-text-opacity))
}
body.dark-theme .dark_link2
{
  color:#e5e7eb
}
body.dark-theme .dark_link2:hover {
  color: rgb(14 165 233 / var(--tw-text-opacity))
}
body.dark-theme .dark_input {
  color: rgb(210, 214, 218)
}
body.dark-theme .dark-input-color 
{
  color:rgb(220,223,230)
}
body.dark-theme .dark_img
{
  background: linear-gradient(-45deg, #44355b, #8e354a)!important;
}
body.dark-theme .dark_background
{
  background: #1f2021 !important;
}
body.dark-theme .dark_charts_background
{
  background: #121212 !important;
}
body.dark-theme .loading_dark_background{
  background: #262a31 !important;
}
body.dark-theme .dark_card
{
  background: #1f2021 !important;
}
body.dark-theme .button_dark{
  color: aliceblue !important;;
}

